<h1>Hello from template view</h1>

<h3>username : {{ username }}</h3>

{% if user %}
<h3>full_name : {{ user.first_name }} {{ user.last_name }}</h3>
{% endif %}

<table border="1px">
    <thead>
        <tr>
            <th>Index</th>
            <th>address</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>







<!-- THis is comment -->
{# This is single line comment #}

{% comment %}
msbmsflmb
dmbflbmfmb
dmlfbfbl
{% endcomment %}